*{
  margin: 0;
  padding: 0;
}

.makeOrderContainer{
  display:flex;
  justify-content: center;
  /* border: 10px solid black; */
}

.orderPageTextLabel{
  display: flex;
  justify-content: center;
}

.totalPriceLabel{
  display: flex;
  justify-content: center;
}

.totalPriceAmountLabel{
  color: brown;
}