



header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  z-index: 1;
  left: 0;
  right: 0;
  background-color: chocolate;
  transition: box-shadow, background-color .25s ease;
}

button{
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: #fff;
  background-color: #23a030;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 16px 36px rgb(52, 213, 68, 0.22);
  padding: 15px;
}

button:hover{
  background-color: #f6980c;
  box-shadow: 0 16px 36px rgba(246 152 12 0.9);
  transition: background-color 0.3s ease-in;
}
