

.header{
  /* position: relative; */
  text-align: center;
  color: white;
  width: 100%;
  /* align-self: center; */
}

.headerBtnLeft{
  position: absolute;
  top: 8px;
  left: 16px;
}

.headerBtnRigh{
  position: absolute;
  top: 8px;
  right: 16px;
  background-color: aqua;
}